*{
    background-color:aqua; border: 5px salmon;
    border-radius:18px; padding: 5%;
    }
    #head{
    background-color:red; color: yellow;
    margin:5px;
    box-sizing: border-box; justify-content:center; text-align: center;
    
    height:70px; width: 70%;
    padding: 15px;
    }
    
    .Para{
    background-color:white; padding: 5%;
    border: 3px solid;
    }
    